body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat-black", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{font-family: "Montserrat-bold",sans-serif;
font-size: 3rem;
line-height: 3rem;}

#title {
  background-color: #ff4c68;
  color: #fff;
}
#features{padding: 10% 10%;
background-color: #FFF;
position: relative;
z-index: 1;}


.container-fluid {
  padding: 3% 15% 7%;
}

.iphone-image {
  transform: rotate(25deg);
  width: 300px;
  position: absolute;
  margin-left: 5%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-light",sans-serif;
  font-size: 1.2rem;
}
.button-download{margin: 5% 3% 5% 0;}
.features-icon{color: #ef8172;
  font-size:  50px;
  padding-bottom: 1rem;
}
.features-icon:hover{color: #ff4c68;}
.features-col{font-family: 'Montserrat-bold', sans-serif;
text-align: center;
font-weight: bold;
padding: 0 5%;
}
.features-p{color: #8f8f8f;}
.features-h{font-family: 'Montserrat-bold', sans-serif;
font-weight: 800;
font-size: 22px;}

/* testimonials section */
#testimonials{text-align: center;
background-color: #ef8172;
color: #fff;}
.carousel-item{padding: 7% 15%;
}



.testimonial-image{width: 10%;
border-radius: 100%;
margin: 20px;}

#press{text-align: center;
background-color: #ef8172;
padding-bottom: 3%;}

.press-image{width: 15%;
margin: 20px 20px 50px;}

/* pricing */
#pricing{padding: 100px;
text-align: center;}

.pricing-col{padding: 3% 2%;}
.pricing-button{padding: 0 70px;}

@media (max-width: 1028px){
  .iphone-image{
    position: static;
    transform: rotate(0);
  }
  #title{text-align: center;}
}

/* cta section */

#cta{background-color: #ff4c68;
text-align: center;
padding: 7% 15%;}

.cta-heading{font-family: "Montserrat-black",sans-serif;
color: #fff;
font-weight: 800;
font-size: 3rem;
}


/* footer */
#footer{background-color: #fff;
text-align: center;
padding: 7% 0}
.footer-paragraph{margin: 7px;
font-weight: lighter;
color: grey;}
.fa-footer{margin: 5px;}
